@font-face {
    font-family: "EBGaramond";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local('EBGaramond Regular'), local('EBGaramond-Regular'),
    url("/fonts/ebgaramond-regular.woff2") format("woff2"),
    url("/fonts/ebgaramond-regular.woff") format("woff"),
    url("/fonts/ebgaramond-regular.ttf") format("ttf");
}

@font-face {
    font-family: "EBGaramond";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: local('EBGaramond Medium'), local('EBGaramond-Medium'),
    url("/fonts/ebgaramond-medium.woff2") format("woff2"),
    url("/fonts/ebgaramond-medium.woff") format("woff"),
    url("/fonts/ebgaramond-medium.ttf") format("ttf");
}

@font-face {
    font-family: "EBGaramond";
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src: local('EBGaramond Italic'), local('EBGaramond-Italic'),
    url("/fonts/ebgaramond-italic.woff2") format("woff2"),
    url("/fonts/ebgaramond-italic.woff") format("woff"),
    url("/fonts/ebgaramond-italic.ttf") format("ttf");
}

@font-face {
    font-family: "EBGaramond";
    font-weight: 500;
    font-style: italic;
    font-display: swap;
    src: local('EBGaramond MediumItalic'), local('EBGaramond-MediumItalic'),
    url("/fonts/ebgaramond-mediumitalic.woff2") format("woff2"),
    url("/fonts/ebgaramond-mediumitalic.woff") format("woff"),
    url("/fonts/ebgaramond-mediumitalic.ttf") format("ttf");
}

@font-face {
    font-family: "EBGaramond";
    font-weight: 600;
    font-style: italic;
    font-display: swap;
    src: local('EBGaramond SemiBoldItalic'), local('EBGaramond-SemiBoldItalic'),
    url("/fonts/ebgaramond-semibolditalic.woff2") format("woff2"),
    url("/fonts/ebgaramond-semibolditalic.woff") format("woff"),
    url("/fonts/ebgaramond-semibolditalic.ttf") format("ttf");
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    margin: 0;
    padding: 0;
}

.visually-hidden:not(:focus):not(active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

:root {
    /*css - переменные*/
    --white: #ffffff;
    --opacity: rgba(255, 255, 255, 0);
    --black: #000000;
    --black-opacity: 0, 0, 0;
    --dark-gray: #2E2E2E;
    --dark-white: #E9E5E2;
    --light-gray: #DCDCDC;
    --light-gray-1: #C8C8C8;
    --light-gray-2: #EDEDED;
    --light-gray-3: #E4E4E4;
    --light-gray-4: #E9E9E9;
    --light-gray-5: #DFDFDF;
    --light-gray-6: #DDDDDD;
    --blue: #323249;
    --dark-blue: #292942;
    --orange: #FC9400;
    --orange-1: #E97B2C;
    --orange-2: #FFA945;
    --orange-3: #FF7A00;
    --orange-4: #CB894C;
    --orange-5: rgba(255, 136, 50, 0.65);
    --orange-6: #E57C00;
    --dark-orange: #DD6A00;
    --gray: #727272;
    --brown: rgba(255, 138, 0, 0.28);
    --brown-1: #A7633C;
    --light-brown: #B4571D;
    --violet: #7378AB;
    --burgundy: rgba(38, 56, 215, 0.12);
    --light-yellow: #FFD3AA;
}
/* применение var(--color-blue); */

.body {
    background-color: var(--dark-white);
    font-family: "EBGaramond", "Arial", sans-serif;
    font-weight: 400;
    color: var(--black);
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

img {
    display: block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--dark-gray);
}

button {
    cursor: pointer;
    border: none;
}

h1 {
    margin: 0;
}

/* стили шапки */

.header {
    width: 100%;
    background-color: var(--blue);
}

.container-x {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    width: 100%;
}

.container-x--big {
    max-width: 1635px;
}

.container-x--mini {
    max-width: 1420px;
}

.container-y {
    padding-bottom: 40px;
    padding-top: 40px;
}

.header__wrap {
    display: flex;
    align-items: center;
    position: relative;
}

.header__burger {
    display: none;
}

.menu__list {
    display: flex;
    align-items: center;
}

.menu__item--absolut {
    position: absolute;
    top: 217px;
    z-index: 1;
}

.menu__item--absolut-left {
    left: 0;
}

.menu__item--absolut-right {
    right: 0;
}

.menu__link {
    padding: 49px 40px;
    display: block;
}

.menu__item--absolut .menu__link {
    padding: 12px 20px;
    border: 2px solid var(--black);
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
}

.menu__item--absolut .menu__link:hover {
    border: 2px solid var(--gray);
    transition: 0.3s;
}

.menu__border {
    font-weight: 500;
    font-size: 30px;
    line-height: 32px;
    color: var(--light-gray);
    display: block;
    padding: 0 5px;
    border-bottom: 2px solid var(--opacity);
}

.menu__item--active .menu__border,
.menu__link:hover .menu__border {
    border-bottom: 2px solid var(--orange);
    transition: 0.3s;
}

.menu__item--absolut .menu__border {
    font-size: 28px;
    line-height: 30px;
    color: var(--black);
    padding: 0;
    border-bottom: none;
    display: flex;
    align-items: center;
}

.menu__item--absolut.menu__item--active .menu__border,
.menu__item--absolut .menu__link:hover .menu__border {
    border-bottom: none;
}

.menu__icon {
    position: relative;
    top: 1px;
}

.menu__item--absolut-left .menu__icon {
    margin: 0 10px 0 0;
}

.menu__item--absolut-right .menu__icon {
    margin: 0 0 0 10px;
}

.header__main-link {
    display: flex;
    align-items: center;
    padding: 11px 20px;
    margin: 0 auto;
}

.header__logo {
    margin: 0 25px 0 0;
}

.header__name {
    font-size: 48px;
    line-height: 52px;
    color: var(--orange-1);
}

.main {
    flex-grow: 1;
    width: 100%;
}

/* стили ознакомления */

.fast {
    position: relative;
}

.texts {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.texts--dark {
    color: var(--black);
}

.texts--light {
    color: var(--light-gray-3);
}

.texts__item {
    font-size: 36px;
    line-height: 40px;
}

.fast__list {
    margin: 130px 0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fast__item {
    width: 21%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.fast__icon {
    margin: 0 0 25px;
}

.fast__text {
    font-size: 28px;
    line-height: 30px;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 12px 20px;
    border: 1px solid var(--opacity);
}

.link:hover {
    border: 1px solid var(--black);
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
    transition: 0.3s;
}

.link__main {
    font-weight: 500;
    font-size: 34px;
    line-height: 36px;
}

.link__other {
    font-size: 30px;
    line-height: 32px;
}

/* стили пошаговая инструкция*/

.steps {
    background-color: var(--blue);
    position: relative;
}

.steps__list {
    margin: 20px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.steps__item {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.steps__item:not(:nth-child(2),:nth-child(5)) {
    padding-top: 60px;
}

.steps__number {
    font-size: 170px;
    line-height: 172px;
    color: var(--brown);
}

.steps__title {
    font-weight: 500;
    font-size: 34px;
    line-height: 36px;
    color: var(--light-gray-2);
    letter-spacing: 0.01em;
}

.steps__text {
    font-size: 28px;
    line-height: 30px;
    color: var(--light-gray-2);
    letter-spacing: 0.01em;
}

.steps__italics {
    font-weight: 500;
    font-style: italic;
}

.lamp {
    position: absolute;
    top: 110px;
    left: -160px;
}

.indicators {
    display: grid;
    grid-gap: 135px;
    position: absolute;
    right: 60px;
    top: calc(50% - 270px);
}

.indicators__item {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.indicators__item:before {
    content: '';
    height: 135px;
    border-left: 2px dashed var(--orange-3);
    position: absolute;
    top: 40px;
    right: 19px;
}

.indicators__item:last-child:before {
    display: none;
}

.indicators__link {
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: right;
    max-width: 215px;
}

.indicators--dark .indicators__link {
    color: var(--black);
}

.indicators--light .indicators__link {
    color: var(--light-gray-4);
}

.indicators__link:after {
    content: '';
    margin: 0 0 0 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--black);
    background-color: var(--orange-2);
    flex-shrink: 0;
}

.indicators__item--active .indicators__link:after {
    background-color: var(--violet);
}

/* стили акции*/

.stocks {
    position: relative;
}

.stocks__list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 35px 0 70px;
}

.stocks__item {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border-right: 2px solid var(--dark-orange);
    padding: 100px 8px;
    min-height: 410px;
}

.stocks__item:last-child {
    border-right: none;
}

.stocks__title {
    font-style: italic;
    font-weight: 500;
    font-size: 34px;
    line-height: 36px;
    margin: 0 0 45px;
}

.stocks__icon {
    margin: 0 0 35px;
}

.stocks__text {
    font-size: 28px;
    line-height: 30px;
}

/* стили контакты*/

.contacts {
    position: relative;
    padding: 140px 0;
    background-color: var(--blue);
}

.contacts__heading {
    margin: 0 0 25px;
    display: none;
    font-weight: 500;
    font-size: 32px;
    line-height: 34px;
    color: var(--light-gray-2);
    text-align: center;
}

.contacts__wrap {
    display: flex;
    align-items: center;
}

.contacts__map {
    margin: 0 75px 0 0;
    max-width: 890px;
    width: 100%;
    height: auto;
}

.contacts__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contacts__list {
    border-top: 2px solid var(--orange-4);
    border-bottom: 2px solid var(--orange-4);
    margin: 0 0 50px;
    padding: 0 30px;
}

.contacts__item {
    padding: 15px 0;
}

.contacts__text {
    font-weight: 500;
    font-size: 28px;
    line-height: 30px;
    color: var(--light-gray-5);
    display: block;
}

.contacts__buttons {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
}

.contacts__link {
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--brown-1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 50px;
    background: rgba(65, 72, 255, 0.1);
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
}

.contacts__link:hover {
    border: 1px solid var(--dark-gray);
}

/* стили footer*/

.footer {
    background-color: var(--dark-blue);
}

.footer__contacts {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

.footer__link {
    display: block;
    padding: 22px 10px;
    font-size: 28px;
    line-height: 30px;
    color: var(--orange-5);
}

.footer__link:hover {
    color: var(--dark-orange);
    transition: 0.3s;
}

/* стили заказа*/

.order {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
    width: 100%;
}

.slider__item {
    flex-direction: column;
    align-items: center;
}

.slider__arrows-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 10px;
}

.slider__arrows-link {
    padding: 0 25px;
    display: block;
}

.slider__arrow--left {
    transform: rotate(180deg);
}

.slider__const {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 40px;
}

.slider__number {
    font-size: 42px;
    line-height: 44px;
    width: 53px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--orange-5);
    border: 1px solid var(--black);
    border-radius: 50%;
    margin: 0 0 5px;
}

.slider__text {
    font-size: 36px;
    line-height: 38px;
    text-align: center;
    max-width: 400px;
}

.cleaning {
    display: flex;
    margin: 0 0 35px;
}

.cleaning__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.cleaning__wrap {
    width: 193px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 20px;
}

.cleaning__img {
    border: 2px solid var(--black);
    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.45)) drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.2));
    border-radius: 25px;
}

.cleaning__item--active .cleaning__img,
.cleaning__item:hover .cleaning__img {
    width: 185px;
    height: 172px;
    border: 3px solid var(--orange-6);
    fill: none;
    box-shadow: inset 13px 13px 10px rgba(0, 0, 0, 0.25), inset 4px 4px 5px rgba(0, 0, 0, 0.5), inset -4px -4px 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    transition: 0.3s;
}

.cleaning__name {
    font-size: 30px;
    line-height: 32px;
}

.cleaning__price {
    font-size: 28px;
    line-height: 30px;
}

.form-wrap {
    max-width: 105px;
    text-align: center;
    border-bottom: 2px solid var(--black);
    margin: 0 auto 40px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 0 10px;
}

.form--square {
    width: 100%;
}

.form--square .form__input {
    font-size: 30px;
    line-height: 32px;
    border: none;
    outline: none;
    width: 100%;
    text-align: center;
    font-family: "EBGaramond", "Arial", sans-serif;
    background-color: initial;
}

.form-wrap__text {
    font-size: 30px;
    line-height: 32px;
}

.order__sum {
    max-width: 370px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-top: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    font-style: italic;
    font-weight: 600;
    font-size: 36px;
    line-height: 38px;
}

.order__sum-text {
    margin: 0 15px 0 0;
}

.order__sum-ruble {
    margin: 0 0 0 10px;
}

.additional {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-row-gap: 55px;
    grid-column-gap: 80px;
    padding: 0 15px;
}

.additional__item {
    width: calc((100% / 5) - 64px);
    background: var(--burgundy);
    border: 2px solid var(--black);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2), 2px 2px 10px rgba(0, 0, 0, 0.45);
    border-radius: 20px;
    padding: 10px 5px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.additional__item--active {
    background: var(--light-yellow);
    border: 2px solid var(--black);
    box-shadow: inset -4px -4px 5px rgba(0, 0, 0, 0.5), inset 4px 4px 5px rgba(0, 0, 0, 0.5), inset 13px 13px 10px rgba(0, 0, 0, 0.25);
}

.additional__icon {
    margin: 0 0 5px;
    height: auto;
}

.additional__item--active .additional__icon {
    opacity: 0.5;
}

.additional__price {
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    margin: 0 0 5px;
}

.additional__item--active .additional__price--none {
    display: none;
}

.additional__price-ruble {
    margin: 0 0 0 5px;
}

.additional__name {
    font-size: 27px;
    line-height: 29px;
}

.additional__item--active .additional__name--none {
    display: none;
}

.additional__info {
    position: absolute;
    top: 0;
    right: 0;
}

.additional__link {
    display: block;
    padding: 12px;
}

.additional__circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid var(--light-brown);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 22px;
    color: var(--light-brown);
}

.additional__text {
    display: none;
    position: absolute;
    top: -13px;
    right: -295px;
    width: 270px;
    background: var(--blue);
    border: 2px solid var(--black);
    box-sizing: border-box;
    border-radius: 20px;
    font-style: italic;
    font-size: 26px;
    line-height: 28px;
    color: var(--light-gray-6);
    padding: 10px;
    z-index: 1;
}

.additional__item:nth-child(5) .additional__text,
.additional__item:nth-child(10) .additional__text {
    left: -295px;
    right: auto;
    top: -17px;
}

.additional__text:before {
    content: url("../img/additional.svg");
    position: absolute;
    left: -46px;
}

.additional__item:nth-child(5) .additional__text:before,
.additional__item:nth-child(10) .additional__text:before {
    transform: rotate(180deg);
    right: -353px;
}

.additional__link:hover ~ .additional__text {
    display: flex;
    transition: 0.3s;
}

.additional__choice {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding: 10px;
    display: none;
}

.additional__item--active .additional__choice {
    display: flex;
}

.additional__wrap {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 0 0 20px;
}

.additional__arrow-link {
    padding: 5px;
}

.additional__arrow--right {
    transform: rotate(180deg);
}

.additional__amount {
    font-size: 38px;
    line-height: 40px;
    width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__double {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 1850px) {
    /* стили пошаговая инструкция*/

    .lamp--desktop {
        display: none;
    }
}

@media (max-width: 1750px) {
    /* стили пошаговая инструкция*/

    .indicators {
        display: none;
    }
}

@media (max-width: 1680px) {
    /*стили заказа*/

    .additional__icon--hood {
        width: 64px;
    }

    .additional__icon--microwave {
        width: 73px;
    }

    .additional__icon--cupboard {
        width: 83px;
    }

    .additional__icon--windows {
        width: 54px;
    }

    .additional__icon--iron {
        width: 57px;
    }

    .additional__icon--washer {
        width: 43px;
    }

    .additional__icon--stove {
        width: 41px;
    }

    .additional__icon--book {
        width: 65px;
    }

    .additional__icon--cat {
        width: 46px;
    }

    .additional {
        grid-row-gap: 49px;
        grid-column-gap: 70px;
    }

    .additional__text {
        width: 235px;
        right: -265px;
    }

    .additional__item:nth-child(5) .additional__text, .additional__item:nth-child(10) .additional__text {
        left: -265px;
    }

    .additional__item:nth-child(5) .additional__text:before,
    .additional__item:nth-child(10) .additional__text:before {
        right: -318px;
    }
}

@media (max-width: 1550px) {
    /* стили контакты */

    .contacts {
        padding: 125px 0;
    }

    .contacts__heading {
        display: block;
    }

    .contacts__wrap {
        flex-direction: column;
    }

    .contacts__map {
        margin: 0;
        order: 2;
    }

    .contacts__content {
        order: 1;
        margin: 0 0 25px;
    }

    .cleaning {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        grid-gap: 20px;
    }

    .cleaning__item {
        width: calc(94% / 2);
    }
}

@media (max-width: 1350px) {
    /* стили шапки */

    .menu__link {
        padding: 49px 20px;
    }

    /* стили ознакомления */

    .fast__item {
        width: 32%;
    }

    /* стили пошаговая инструкция*/

    .steps__item {
        width: 50%;
    }

    .steps__item:not(:nth-child(2),:nth-child(5)) {
        padding-top: 0;
    }

    .steps__item:nth-child(2) {
        order: 3;
    }

    .steps__item:nth-child(3) {
        order: 5;
    }

    .steps__item:nth-child(4) {
        order: 2;
    }

    .steps__item:nth-child(5) {
        order: 4;
    }

    .steps__item:nth-child(6) {
        order: 6;
    }

    .additional__item {
        width: calc((100% / 4) - 53px);
    }

    .additional__item:nth-child(5) .additional__text,
    .additional__item:nth-child(10) .additional__text {
        left: 80px;
    }

    .additional__item:nth-child(5) .additional__text:before,
    .additional__item:nth-child(10) .additional__text:before {
        right: inherit;
        transform: rotate(0deg);
    }
}

@media (max-width: 1200px) {
    /* стили шапки */

    .menu__border {
        font-size: 26px;
        line-height: 30px;
    }

    .header__main-link {
        padding: 10px;
    }

    .header__name {
        font-size: 42px;
        line-height: 44px;
    }

    /*стили заказа*/

    .additional__name {
        font-size: 22px;
        line-height: 24px;
    }

    .additional__price {
        font-size: 17px;
        line-height: 19px;
    }

    .additional__icon--fridge {
        width: 19px;
    }

    .additional__icon--hood {
        width: 58px;
    }

    .additional__icon--microwave {
        width: 66px;
    }

    .additional__icon--cupboard {
        width: 74px;
    }

    .additional__icon--windows {
        width: 48px;
    }

    .additional__icon--iron {
        width: 51px;
    }

    .additional__icon--washer {
        width: 38px;
    }

    .additional__icon--stove {
        width: 36px;
    }

    .additional__icon--book {
        width: 58px;
    }

    .additional__icon--cat {
        width: 41px;
    }

    .additional {
        grid-row-gap: 42px;
        grid-column-gap: 56px;
    }

    .additional__text {
        font-size: 20px;
        line-height: 22px;
        border-radius: 15px;
        width: 200px;
    }

    .additional__item:nth-child(5) .additional__text, .additional__item:nth-child(10) .additional__text {
        top: -7px;
    }

    .additional__item:nth-child(5) .additional__text:before, .additional__item:nth-child(10) .additional__text:before {
        top: 3px;
        right: inherit;
        transform: rotate(0deg);
    }
}

@media (max-width: 1070px) {
    /* стили шапки */

    .header {
        background-color: var(--white);
    }

    .header__wrap {
        border-bottom: 1px solid var(--black);
    }

    .header__burger {
        flex-shrink: 0;
        display: block;
        width: 55px;
        height: 55px;
        background-color: transparent;
        border: 0;
        border-radius: 0;
        cursor: pointer;
        outline: none;
        padding: 10px;
        margin: 0 0 0 -10px;
    }

    .header__burger span {
        width: 100%;
        background-color: var(--black);
        height: 2px;
        display: block;
        position: relative;
    }

    .header__burger span:after,
    .header__burger span:before {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--black);
    }

    .header__burger span:before {
        top: -9px;
    }

    .header__burger span:after {
        bottom: -9px;
    }

    .header__burger.open span {
        background: transparent;
    }

    .header__burger.open span:before,
    .header__burger.open span:after {
        transition-duration: 0.2s, 0.2s;
        transition-delay: 0.2s, 0s;
    }

    .header__burger.open span:before {
        transition-property: top, transform;
    }

    .header__burger.open span:after {
        transition-property: bottom, transform;
    }

    .header__burger.open span:before {
        top: 0;
        transform: rotate(45deg);
    }

    .header__burger.open span:after {
        bottom: 0;
        transform: rotate(-45deg);
    }

    .header__burger.open span:before,
    .header__burger.open span:after {
        transition-delay: 0s, 0.2s;
    }

    .menu {
        display: none;
        position: absolute;
        width: calc(100% + 40px);
        left: 0;
        background-color: var(--blue);
        margin: 0 -20px;
        z-index: 2;
    }

    .menu--first {
        top: 140px;
    }

    .menu--second {
        top: 242px;
    }

    .header__wrap.open .menu {
        display: block;
    }

    .menu__list {
        flex-direction: column;
    }

    .menu__item {
        width: 100%;
        padding: 0 20px;
    }

    .menu__item--absolut {
        position: static;
        padding: 0 20px;
    }

    .menu__link {
        padding: 10px 15px;
        border-bottom: 1px solid var(--light-gray-1);
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .menu__item--absolut .menu__link {
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 1px solid var(--light-gray-1);
        padding: 10px 15px;
        box-shadow: none;
        border-radius: 0;
    }

    .menu__item--absolut .menu__link:hover {
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 1px solid var(--light-gray-1);
    }

    .menu__border {
        border-bottom: none;
    }

    .menu__item--active .menu__border,
    .menu__link:hover .menu__border {
        border-bottom: none;
    }

    .menu__item--absolut .menu__border {
        font-size: 26px;
        line-height: 30px;
        color: var(--light-gray);
        padding: 0;
        border-bottom: none;
    }

    .menu__icon {
        display: none;
    }

    .header__main-link {
        margin: 0;
        width: 100%;
        padding: 15px 0;
    }

    .header__logo {
        order: 2;
        margin: 0;
    }

    .header__name {
        order: 1;
        margin: 0 auto;
        text-align: center;
        padding: 0 20px;
    }

    /* стили ознакомления */

    .fast {
        background-color: var(--white);
    }

    .texts__item {
        font-size: 32px;
        line-height: 34px;
    }

    .fast__list {
        margin: 100px 0 150px;
    }

    .fast__text {
        font-size: 26px;
        line-height: 28px;
    }

    .link__main {
        font-size: 28px;
        line-height: 30px;
    }

    .link__other {
        font-size: 28px;
        line-height: 30px;
    }

    /* стили пошаговая инструкция*/

    .steps__number {
        font-size: 154px;
        line-height: 156px;
    }

    .steps__title {
        font-size: 32px;
        line-height: 34px;
    }

    .steps__text {
        font-size: 26px;
        line-height: 28px;
    }

    .lamp {
        display: none;
    }

    /* стили акции*/

    .stocks__list {
        grid-template-columns: repeat(2,1fr);
    }

    .stocks__item {
        padding: 80px 10px;
    }

    .stocks__item:nth-child(2) {
        border-bottom: 2px solid var(--dark-orange);
        border-right: none;
    }

    .stocks__item:nth-child(1) {
        border-bottom: 2px solid var(--dark-orange);
    }

    .stocks__title {
        font-size: 30px;
        line-height: 32px;
        margin: 0 0 35px;
    }

    .stocks__icon {
        margin: 0 0 30px;
    }

    .stocks__text {
        font-size: 26px;
        line-height: 28px;
    }

    /* стили контакты*/

    .contacts {
        padding: 110px 0;
    }

    .contacts__heading {
        font-size: 28px;
        line-height: 30px;
    }

    .contacts__text {
        font-size: 24px;
        line-height: 26px;
    }

    .contacts__link {
        font-size: 22px;
        line-height: 24px;
        width: 160px;
        height: 45px;
    }

    /* стили footer*/

    .footer__link {
        padding: 18px 10px;
        font-size: 24px;
        line-height: 26px;
    }

    /* стили заказа*/

    .slider__number {
        font-size: 38px;
        line-height: 40px;
        width: 46px;
        height: 46px;
    }

    .slider__const {
        margin: 0 0 32px;
    }

    .slider__text {
        font-size: 32px;
        line-height: 34px;
    }

    .order__sum {
        font-size: 32px;
        line-height: 34px;
    }

    .cleaning__name {
        font-size: 26px;
        line-height: 28px;
    }

    .cleaning__price {
        font-size: 24px;
        line-height: 26px;
    }

    .additional__item {
        width: calc((100% / 3) - 38px);
    }
}

@media (max-width: 840px) {
    /*стили заказа*/

    .additional__icon--hood {
        width: 51px;
    }

    .additional__icon--microwave {
        width: 58px;
    }

    .additional__icon--cupboard {
        width: 65px;
    }

    .additional__icon--windows {
        width: 42px;
    }

    .additional__icon--iron {
        width: 45px;
    }

    .additional__icon--washer {
        width: 34px;
    }

    .additional__icon--stove {
        width: 32px;
    }

    .additional__icon--book {
        width: 51px;
    }

    .additional__icon--cat {
        width: 37px;
    }

    .additional {
        grid-row-gap: 35px;
        grid-column-gap: 42px;
    }

    .additional__circle {
        width: 20px;
        height: 20px;
        font-size: 16px;
        line-height: 18px;
    }

    .additional__link:hover ~ .additional__text {
        display: none;
    }

    .additional__text {
        width: 165px;
    }
}

@media (max-width: 770px) {
    /* стили шапки */

    .header__name {
        font-size: 36px;
        line-height: 38px;
    }

    .menu__border {
        font-size: 24px;
        line-height: 28px;
    }

    .menu__item--absolut .menu__border {
        font-size: 24px;
        line-height: 28px;
    }

    .header__logo {
        width: 62px;
        height: auto;
    }

    .menu--first {
        top: 107px;
    }

    .menu--second {
        top: 205px;
    }

    /* стили ознакомления */

    .texts__item {
        font-size: 28px;
        line-height: 30px;
    }

    .fast__list {
        margin: 75px 0 115px;
        display: grid;
        grid-gap: 20px;
    }

    .fast__item {
        width: 60%;
        margin: 0 auto;
    }

    .fast__icon {
        margin: 0 0 18px;
    }

    .fast__text {
        font-size: 24px;
        line-height: 26px;
    }

    .fast__icon--scale {
        width: 125px;
        height: auto;
    }

    .fast__icon--list {
        width: 145px;
        height: auto;
    }

    .fast__icon--logo {
        width: 85px;
        height: auto;
    }

    .link__main {
        font-size: 24px;
        line-height: 26px;
    }

    .link__other {
        font-size: 24px;
        line-height: 26px;
    }

    /* стили пошаговая инструкция*/

    .steps__number {
        font-size: 134px;
        line-height: 136px;
    }

    .steps__title {
        font-size: 28px;
        line-height: 32px;
    }

    .steps__text {
        font-size: 24px;
        line-height: 26px;
    }

    /* стили акции*/

    .stocks__list {
        grid-template-columns: repeat(1,1fr);
    }

    .stocks__item {
        padding: 60px 10px;
        border-right: none;
        border-bottom: 2px solid var(--dark-orange);
        min-height: auto;
    }

    .stocks__item:last-child {
        border-bottom: none;
    }

    .stocks__title {
        font-size: 26px;
        line-height: 28px;
        margin: 0 0 30px;
    }

    .stocks__icon {
        margin: 0 0 25px;
    }

    .stocks__text {
        font-size: 22px;
        line-height: 24px;
    }

    /* стили контакты*/

    .contacts {
        padding: 80px 0;
    }

    .contacts__heading {
        font-size: 26px;
        line-height: 28px;
    }

    .contacts__list {
        margin: 0 0 35px;
    }

    .contacts__text {
        font-size: 22px;
        line-height: 25px;
    }

    .contacts__link {
        font-size: 20px;
        line-height: 22px;
        width: 145px;
        height: 40px;
    }

    /* стили footer*/

    .footer__link {
        padding: 10px;
        font-size: 22px;
        line-height: 24px;
    }

    /* стили заказа*/

    .slider__arrow {
        width: 156px;
        height: 36px;
    }

    .slider__number {
        font-size: 34px;
        line-height: 36px;
        width: 42px;
        height: 42px;
    }

    .slider__const {
        margin: 0 0 25px;
    }

    .slider__text {
        font-size: 28px;
        line-height: 30px;
    }

    .order__sum {
        font-size: 28px;
        line-height: 30px;
    }

    .cleaning {
        margin: 0 0 30px;
    }

    .cleaning__wrap {
        margin: 0 0 10px;
    }

    .cleaning__name {
        font-size: 24px;
        line-height: 26px;
    }

    .cleaning__price {
        font-size: 22px;
        line-height: 24px;
    }

    .form-wrap {
        margin: 0 auto 30px;
    }

    .additional__item {
        width: calc((100% / 2) - 21px);
    }

    .additional__item:nth-child(even) .additional__info {
        right: auto;
        left: 0;
    }

    .additional__text {
        top: -16px;
        right: -195px;
    }

    .additional__item:nth-child(5) .additional__text {
        top: -16px;
        right: -195px;
        left: auto;
    }

    .additional__item:nth-child(5) .additional__text:before {
        right: auto;
    }

    .additional__item:nth-child(even) .additional__text:before {
        left: auto;
        right: -47px;
        transform: rotate(180deg);
    }

    .additional__item:nth-child(even) .additional__text {
        top: -18px;
        right: 75px;
        left: auto;
    }
}

@media (max-width: 620px) {
    /* стили шапки */

    .header__name {
        font-size: 30px;
        line-height: 32px;
    }

    .menu__border {
        font-size: 22px;
        line-height: 24px;
    }

    .menu__item--absolut .menu__border {
        font-size: 22px;
        line-height: 24px;
    }

    .menu--second {
        top: 197px;
    }

    /* стили ознакомления */

    .texts__item {
        font-size: 24px;
        line-height: 26px;
    }

    .fast__list {
        margin: 40px 0 70px;
    }

    .fast__item {
        width: 100%;
    }

    .fast__text {
        font-size: 22px;
        line-height: 24px;
    }

    .link__main {
        font-size: 20px;
        line-height: 22px;
    }

    .link__other {
        font-size: 20px;
        line-height: 22px;
    }

    /* стили пошаговая инструкция*/

    .steps__item {
        width: 100%;
    }

    .steps__number {
        font-size: 114px;
        line-height: 116px;
    }

    .steps__title {
        font-size: 24px;
        line-height: 28px;
    }

    .steps__text {
        font-size: 22px;
        line-height: 24px;
    }

    /* стили акции*/

    .stocks__item {
        padding: 40px 10px;
    }

    .stocks__title {
        font-size: 22px;
        line-height: 24px;
        margin: 0 0 25px;
    }

    .stocks__icon {
        margin: 0 0 20px;
    }

    .stocks__text {
        font-size: 20px;
        line-height: 22px;
    }

    /* стили контакты*/

    .contacts {
        padding: 50px 0;
    }

    .contacts__heading {
        font-size: 22px;
        line-height: 24px;
    }

    .contacts__text {
        font-size: 20px;
        line-height: 22px;
    }

    .contacts__link {
        font-size: 18px;
        line-height: 20px;
        width: 130px;
        height: 35px;
    }

    /* стили footer*/

    .footer__link {
        font-size: 20px;
        line-height: 22px;
    }

    /* стили заказа*/

    .slider__number {
        font-size: 30px;
        line-height: 32px;
        width: 36px;
        height: 36px;
    }

    .slider__const {
        margin: 0 0 18px;
    }

    .slider__text {
        font-size: 24px;
        line-height: 26px;
    }

    .order__sum {
        font-size: 24px;
        line-height: 26px;
    }

    .cleaning__name {
        font-size: 22px;
        line-height: 24px;
    }

    .cleaning__price {
        font-size: 20px;
        line-height: 22px;
    }
}

@media (max-width: 480px) {
    /* стили шапки */

    .header__name {
        font-size: 22px;
        line-height: 24px;
    }

    .menu__border {
        font-size: 18px;
        line-height: 22px;
    }

    .menu__item--absolut .menu__border {
        font-size: 18px;
        line-height: 22px;
    }

    .header__logo {
        width: 38px;
    }

    .menu--first {
        top: 78px;
    }

    .menu--second {
        top: 164px;
    }

    /* стили ознакомления */

    .container-x {
        padding-left: 15px;
        padding-right: 15px;
    }

    .container-y {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .texts__item {
        font-size: 20px;
        line-height: 22px;
    }

    .fast__list {
        margin: 20px 0 30px;
        grid-gap: 15px;
    }

    .fast__icon {
        margin: 0 0 10px;
    }

    .fast__icon--scale {
        width: 85px;
    }

    .fast__icon--list {
        width: 75px;
    }

    .fast__icon--logo {
        width: 45px;
    }

    .fast__text {
        font-size: 18px;
        line-height: 20px;
    }

    .link {
        flex-direction: row;
        justify-content: center;
        display: block;
    }

    .link__main {
        font-size: 16px;
        line-height: 18px;
        margin: 0 5px 0 0;
        display: inline;
    }

    .link__other {
        font-size: 16px;
        line-height: 18px;
        display: inline;
    }

    /* стили пошаговая инструкция*/

    .steps__number {
        font-size: 96px;
        line-height: 98px;
    }

    .steps__title {
        font-size: 20px;
        line-height: 22px;
    }

    .steps__text {
        font-size: 18px;
        line-height: 20px;
    }

    /* стили акции*/

    .stocks__list {
        margin: 5px 0 40px;
    }

    .stocks__item {
        padding: 20px 10px;
    }

    .stocks__title {
        font-size: 18px;
        line-height: 20px;
        margin: 0 0 10px;
    }

    .stocks__icon {
        margin: 0 0 10px;
        height: auto;
    }

    .stocks__text {
        font-size: 16px;
        line-height: 18px;
    }

    .stocks__icon--beginner {
        width: 70px;
    }

    .stocks__icon--friend {
        width: 100px;
    }

    .stocks__icon--student {
        width: 65px;
    }

    .stocks__icon--five {
        width: 80px;
    }

    /* стили контакты*/

    .contacts {
        padding: 20px 0;
    }

    .contacts__heading {
        font-size: 20px;
        line-height: 22px;
    }

    .contacts__list {
        margin: 0 0 20px;
    }

    .contacts__item {
        padding: 10px 0;
    }

    .contacts__text {
        font-size: 16px;
        line-height: 18px;
    }

    .contacts__buttons {
        grid-gap: 40px;
    }

    .contacts__link {
        font-size: 16px;
        line-height: 18px;
        width: 110px;
        height: 30px;
        box-shadow: -7px 7px 15px rgba(0, 0, 0, 0.25);
    }

    /* стили footer*/

    .footer__contacts {
        flex-direction: column;
    }

    .footer__link {
        padding: 5px 10px;
        font-size: 16px;
        line-height: 18px;
    }

    /*стили заказа*/

    .slider__arrow {
        width: 114px;
        height: 24px;
    }

    .slider__number {
        font-size: 24px;
        line-height: 26px;
        width: 31px;
        height: 31px;
    }

    .slider__const {
        margin: 0 0 10px;
    }

    .slider__text {
        font-size: 20px;
        line-height: 22px;
    }

    .cleaning {
        margin: 0 0 25px;
        padding: 0 10px;
    }

    .cleaning__item {
        width: calc(92% / 2);
    }

    .cleaning__wrap {
        display: none;
    }

    .cleaning__name {
        font-size: 18px;
        line-height: 20px;
    }

    .cleaning__icon {
        order: -1;
    }

    .cleaning__price {
        font-size: 16px;
        line-height: 20px;
    }

    .form-wrap {
        margin: 0 auto 0;
    }

    .order__sum {
        font-size: 20px;
        line-height: 22px;
        padding: 5px;
        order: -1;
        max-width: 100%;
        margin: 0 0 10px;
        width: 100%;
        border-top: 1px solid var(--black);
        border-bottom: 1px solid var(--black);
    }

    .additional__name {
        font-size: 17px;
        line-height: 19px;
    }

    .additional__price {
        font-size: 14px;
        line-height: 16px;
    }

    .additional__icon--fridge {
        width: 14px;
    }

    .additional__icon--hood {
        width: 45px;
    }

    .additional__icon--microwave {
        width: 51px;
    }

    .additional__icon--cupboard {
        width: 56px;
    }

    .additional__icon--windows {
        width: 37px;
    }

    .additional__icon--iron {
        width: 39px;
    }

    .additional__icon--washer {
        width: 29px;
    }

    .additional__icon--stove {
        width: 27px;
    }

    .additional__icon--book {
        width: 44px;
    }

    .additional__icon--cat {
        width: 32px;
    }

    .additional {
        grid-row-gap: 28px;
        grid-column-gap: 28px;
    }

    .additional__link {
        padding: 10px;
    }

    .additional__circle {
        width: 15px;
        height: 15px;
        font-size: 12px;
        line-height: 14px;
    }

    .additional__text {
        font-size: 16px;
        line-height: 18px;
        padding: 5px;
        border-radius: 10px;
        width: 128px;
        top: -15px;
        right: -160px;
    }

    .additional__text:before {
    }

    .additional__item {
        width: calc((100% / 2) - 14px);
    }
}

@media (max-width: 400px) {
    .additional__name {
        font-size: 13px;
        line-height: 15px;
    }
}